h2 {
    color: #f8624fff;
}
h3 {
    text-align: center;
    color: #ffffff;
    padding-bottom: 5px;
}
.welcome > h1 {
    color: #f8624fff;
    text-align: center;
    padding-bottom: 10px;
}


.home-ctr {
    height: 1000px;
    width: 100%;
    background: url('../images/home-background.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
}

.body {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: stretch;
}

.play-btn, .edit-icon, .trash-icon {
    width: 30px;
    height: 30px;
}
.search-results {
    display: flex;
    flex-direction: row;
}


.sect-1 {
    display:flex;
    flex-direction: column;
    flex: 50%;
}
.sect-2 {
    flex: 50%;
}

.create-playlist-btn { 
    width: 40%;
    display: flex;
    padding: 10px;
    font-size: 20px;
    margin-left: 1%;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid #f8624fff;
    justify-content: center;
    font-weight: bold;
}

.create-playlist-btn > button {
    align-items: center;
    margin: 0px;
}
.create-input-ctr > input{
    padding: 10px;
    width: 200px;
}
.album-cover {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.add-playlist-btn-ctr {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.addtoplaylist > button {
    padding: 3px;
    font-size: 18px;
    margin-left: 25px;
}
.search-results {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

.song-title {
    font-weight: bold;
    padding-bottom: 0px;
}
.artist-text {
    font-size: 15px;
    padding-top: 0px;
    font-weight: lighter;
    text-align: left;
}

.song-details {
    padding-right: 10px;
}
.cover-art {
    padding-left: 80px;
}

.play-button {
    padding-left: 50px;
}
.play-button > img {
    width: 100px;
    height: 80px;
}
.playlist-title {
    padding-top: 0px;
    margin-left: 80px;
}

.playlist-header {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.playlist-edit-icon {
    padding-left: 5px;
}
.playlist-edit-icon > img {
    width: 90px;
    height: 65px;
}

.song-art {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.release-date {
    padding-left: 35%;
}

.trash-icon {
    width: 100px;
    height: 75px;
    top: 50%;
}
.popular-heading, .your-play-header {
    margin-left: 10%;
}   
.pop-album-img, .your-album-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.popular-playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3%;
}
.user-ctr {
    display: flex;
    flex-direction: row;
}

.pop-playlist-ctr, .your-playlist-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}



.your-playlist {
    padding-top: 5%;
}

.your-playlist-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3%;
}
.search > button {
    width: 200px;
    display: flex;
    padding: 10px;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid #f8624fff;
    justify-content: center;
    font-weight: bold;
}
.search > button:hover {
    background-color: #f8624fff;
}

select {
       display: flex;
        margin: auto;
         border: 1px solid white;
         padding: 5px;
         margin-top: 0px;
         margin-bottom: 3px;
         width: 200px;
         background-color: rgba(0, 0, 0, 0);
         color: white;
}

.search-song-list {
    min-width: 225px;
    width: 75%;
    display: flex;
    flex-direction: column;
   align-items: right;
    padding: 10px;
    font-size: 12px;
    margin-left: 1%;
    background-color:rgba(0, 0, 0, 0) !important;
    color: white;
    justify-content: center;
    
}


.search > input {
    padding: 15px;
    align-content: center;
    width: 50%;
}

.search-album-image {
    width: 175px;
    height: 175px;
    margin-top: 0pv;
    
    
}

.song-details-ctr {
    color: white;
    text-align: center;
    padding-top: 10px;
}
.post-form-ctr {
    padding: 5px 20px;
    border: 1px solid white;
}

.post-form-ctr > h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-field-ctr {
    margin: 20px;
}
.post-input {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}
.post-input:hover {
    cursor: pointer;
    background-color: white;
}

